<link rel="stylesheet" href="/css/main.css">
<form action="/users/forgot" method="post" class="form">
    <div class="form-control heading">
        <h1>Reset Password</h1>
    </div>
    <div class="form-control">
        <input type="email" name="email">
    </div>
    <button type="submit" class="btn btn-new-password">Get New Password</button>
</form>