<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1 id="main-heading">Node JS Authentication App</h1>
        <div class="main-container">
            <a href="/users/sign-in"><button>Sign In</button></a>
            <a href="/users/sign-up"><button>Sign Up</button></a>
        </div>
    </body>
</html>