<link rel="stylesheet" href="/css/main.css">
<form action="/users/create-user" method="post" class="form">
    <div class="form-control heading">
        <h1>Sign Up Form</h1>
    </div>
    <div class="form-control">
        <input type="email" name="email" id="email" placeholder="Enter email">
    </div>
    <div class="form-control">
        <input type="password" name="password" id="password" placeholder="Enter password">
    </div>
    <div class="form-control">
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Enter password again">
    </div>
    <button type="submit" class="btn btn-sign-up">Sign Up</button>

    <div class="form-control google-feature">
        <button><a href="/users/auth/google"><i class="fa fa-google"></i>  Sign Up using Google</a></button>
    </div>
</form>

<script src="https://use.fontawesome.com/d9372830dd.js"></script>