<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/regular.min.css">
<link rel="stylesheet" href="/css/main.css">
<!-- <h1>Sign In Form</h1> -->
<form action="/users/create-session" method="post" class="form" id="subscribeForm">

    <div class="form-control heading">
        <h1>Sign Up Form</h1>
    </div>
    <div class="form-control">
        <input type="email" name="email" id="email" placeholder="Enter email" required>
    </div>
    <div class="form-control">
        <input type="password" name="password" id="password" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn btn-sign-in">Sign In</button>

    <div class="form-control additional-features">
        <button><a href="/users/auth/google"><i class="fa fa-google"></i>  Login Using Google</a></button>
        <button><a href="/users/forgot-password"><i class="fa fa-refresh" aria-hidden="true"></i>  Forgot Password</a></button>
    </div>
</div>
</form>

<script src="https://use.fontawesome.com/d9372830dd.js"></script>